In [8]:
import streamlit as st
import pandas as pd
from main import get_db_connection, retrieve_article_changes, retrieve_article_info, retrieve_author

db_conn = get_db_connection()

article_changes = retrieve_article_changes(db_conn)
articles = retrieve_article_info(db_conn)
articles["authors"] = articles["article_id"].apply(lambda x:\
                                retrieve_author(db_conn, x))

In [7]:
print(articles)

     article_id                                        article_url source  \
0             1  https://www.bbc.co.uk/news/science-environment...    BBC
1             2             https://www.bbc.co.uk/news/uk-66534732    BBC
2             3         https://www.bbc.co.uk/news/health-66709076    BBC
3             4   https://www.bbc.co.uk/news/world-europe-66711845    BBC
4             5  https://www.bbc.co.uk/news/world-asia-china-66...    BBC
..          ...                                                ...    ...
211         212  https://www.bbc.co.uk/sport/mixed-martial-arts...    BBC
212         213  https://www.bbc.co.uk/news/science-environment...    BBC
213         214       https://www.bbc.co.uk/news/business-66783922    BBC
214         215    https://www.bbc.co.uk/news/uk-scotland-66783640    BBC
215         216  https://www.bbc.co.uk/news/entertainment-arts-...    BBC

                   created_at  \
0   2023-09-05 06:49:33+00:00
1   2023-09-05 02:20:08+00:00
2   2023-09-05 03:21:36+00:00
3   2023-09-05 05:00:15+00:00
4   2023-09-05 06:08:42+00:00
..                        ...
211 2023-09-12 06:06:41+00:00
212 2023-09-12 07:58:30+00:00
213 2023-09-12 07:33:59+00:00
214 2023-09-12 07:01:10+00:00
215 2023-09-12 07:09:44+00:00

                                               authors
0    [Esme Stallard, Becky Dale, Jonah Fisher, Soph...
1                                          [Ed Thomas]
2                                     [Philippa Roxby]
3                         [Yalda Hakim, Mattea Bubalo]
4                                           [Fan Wang]
..                                                 ...
211                                                 []
212      [Sophie Woodcock, Esme Stallard Jonah Fisher]
213                                    [Kevin Peachey]
214                                                 []
215                                       [Paul Glynn]

[216 rows x 5 columns]

In [10]:
print(article_changes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   article_id        178 non-null    int64
 1   article_url       178 non-null    object
 2   change_type       178 non-null    object
 3   previous_version  178 non-null    object
 4   current_version   178 non-null    object
 5   last_scraped      178 non-null    datetime64[ns, UTC]
 6   current_scraped   178 non-null    datetime64[ns, UTC]
 7   similarity        178 non-null    float64
dtypes: datetime64[ns, UTC](2), float64(1), int64(1), object(4)
memory usage: 11.3+ KB
None

In [13]:
st.markdown("# News Tracker")

DeltaGenerator()

In [20]:

total_articles_scraped = articles.shape[0]
print(total_articles_scraped)

217