In [2]:
import streamlit as st
import pandas as pd
from main import get_db_connection, retrieve_article_changes, retrieve_article_info, retrieve_author

db_conn = get_db_connection()

article_changes = retrieve_article_changes(db_conn)
articles = retrieve_article_info(db_conn)
articles["authors"] = articles["article_id"].apply(lambda x:\
                                retrieve_author(db_conn, x))

In [9]:
(articles)

,article_id,article_url,source,created_at,authors
0,1,https://www.bbc.co.uk/news/science-environment...,BBC,2023-09-05 06:49:33+00:00,"[Esme Stallard, Becky Dale, Jonah Fisher, Soph..."
1,2,https://www.bbc.co.uk/news/uk-66534732,BBC,2023-09-05 02:20:08+00:00,[Ed Thomas]
2,3,https://www.bbc.co.uk/news/health-66709076,BBC,2023-09-05 03:21:36+00:00,[Philippa Roxby]
3,4,https://www.bbc.co.uk/news/world-europe-66711845,BBC,2023-09-05 05:00:15+00:00,"[Yalda Hakim, Mattea Bubalo]"
4,5,https://www.bbc.co.uk/news/world-asia-china-66...,BBC,2023-09-05 06:08:42+00:00,[Fan Wang]
...,...,...,...,...,...
241,242,https://www.bbc.co.uk/news/uk-66786938,BBC,2023-09-12 14:11:06+00:00,[Harrison Jones ]
242,243,https://www.bbc.co.uk/sport/tennis/66789732,BBC,2023-09-12 14:09:53+00:00,[]
243,244,https://www.bbc.co.uk/news/world-us-canada-667...,BBC,2023-09-12 14:45:59+00:00,[]
244,245,https://www.bbc.co.uk/sport/rugby-union/66785811,BBC,2023-09-12 14:47:04+00:00,[]
245,246,https://www.bbc.co.uk/sport/rugby-union/66788089,BBC,2023-09-12 14:49:48+00:00,[]

In [10]:
article_changes

,article_id,article_url,change_type,previous_version,current_version,last_scraped,current_scraped,similarity
0,68,https://www.bbc.co.uk/news/entertainment-arts-...,heading,£$§%-TV§%-world§%-pays§%-tribute§%-to§%-'titan...,"£$§% Mike§%+Yarwood,§%+comedian§%+and§%+impers...",2023-09-09 09:39:50.635368+00:00,2023-09-11 20:50:03+00:00,35.19
1,77,https://www.bbc.co.uk/news/blogs-the-papers-66...,heading,£$§%-The§%-Papers:§% 'Ministers§% ignored§% Raac,£$§%+Newspaper§%+headlines:§% 'Ministers§% ign...,2023-09-09 09:39:50.635368+00:00,2023-09-11 20:50:03+00:00,87.77
2,101,https://www.bbc.co.uk/news/health-66750365,heading,£$§% Covid§%-boosters§%-given§%-over§%-concern...,£$§% Covid§%+vaccines§%+at§%+care§%+homes§%+as...,2023-09-11 09:53:03.155117+00:00,2023-09-11 20:50:03+00:00,50.43
3,102,https://www.bbc.co.uk/news/uk-66720433,heading,£$§%-Body-shaming§%-and§%-bullying§% at§% top§...,£$§%+Ex-dancers§%+describe§%+body-shaming§% at...,2023-09-11 09:53:03.155117+00:00,2023-09-11 20:50:03+00:00,57.89
4,112,https://www.bbc.co.uk/news/world-europe-66603902,heading,£$§% Srebrenica:§%-A§%-scientist's§%-long§%-qu...,£$§% Srebrenica:§%+The§%+scientist§%+determine...,2023-09-11 09:53:03.155117+00:00,2023-09-11 20:50:03+00:00,71.19
...,...,...,...,...,...,...,...,...
279,236,https://www.bbc.co.uk/news/uk-england-norfolk-...,heading,£$§% Woman§% who§% died§% in§%-Turkish§%-butto...,£$§%+BBL§%+surgery:§% Woman§% who§% died§% in§...,2023-09-12 14:00:38.648501+00:00,2023-09-12 16:01:05+00:00,64.62
280,243,https://www.bbc.co.uk/sport/tennis/66789732,heading,£$§% Simona§%-Halep§%-banned§%-for§%-four§%-ye...,£$§% Simona§%+Halep:§%+Two-time§%+Grand§%+Slam...,2023-09-12 15:30:39.086818+00:00,2023-09-12 16:01:05+00:00,59.38
281,225,https://www.bbc.co.uk/news/business-66785823,body,£$§% &§% Lettuce§% and§%-Yates's§% bars§% has§...,£$§% &§% Lettuce§% and§%+Yates§% bars§% has§% ...,2023-09-12 13:01:05+00:00,2023-09-12 16:01:05+00:00,99.97
282,236,https://www.bbc.co.uk/news/uk-england-norfolk-...,body,£$§% heard.§% In§% a§%-statement§% Ms§% Kerr's...,"£$§% heard.§% In§% a§%+statement,§% Ms§% Kerr'...",2023-09-12 14:00:38.648501+00:00,2023-09-12 16:01:05+00:00,97.31
283,243,https://www.bbc.co.uk/sport/tennis/66789732,body,£$§% Last§% updated§% on§%-15§% minutes§%-ago1...,£$§% Last§% updated§% on§%+5§% minutes§%+ago5§...,2023-09-12 15:30:39.086818+00:00,2023-09-12 16:01:05+00:00,20.29

In [13]:
st.markdown("# News Tracker")

DeltaGenerator()

In [20]:

total_articles_scraped = articles.shape[0]
print(total_articles_scraped)

217

In [24]:
articles_joined = pd.merge(article_changes, articles, how="left", on="article_id")
articles_joined.groupby("source").size().reset_index(name="count")

  source  count
0    BBC    284