In [17]:
import pandas as pd

In [20]:
def mock_compared_df():
    """Fixture for mock compared df"""
    cols = pd.MultiIndex.from_product([
        ["heading", "body", "article_url", "scraped_at"],
        ["previous", "updated"]
    ])

    return pd.DataFrame(
    [("headline", "new headline", "body", "new body", "url", "new url", "time", "new time")
    ], columns= cols).drop(columns=[("article_url", "previous")])

df = mock_compared_df()
df

    heading                   body           article_url scraped_at
   previous       updated previous   updated     updated   previous   updated
0  headline  new headline     body  new body     new url       time  new time

In [21]:
changes = df[(df["heading"]["previous"] != df["heading"]["updated"]) & \
                      (df["body"]["previous"] != df["body"]["updated"])]
changes

    heading                   body           article_url scraped_at
   previous       updated previous   updated     updated   previous   updated
0  headline  new headline     body  new body     new url       time  new time